header{
    background-color: rgb(117,158,218);
    padding:20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
  }

  button{
    background-color: rgb(88,121,199);
    color:rgb(42,60,133);
    padding: 10px;
    border: 0;
    font-family: 'Raleway';
    font-size: larger;
  }

.searching{
    background-color: transparent;
    border: 0;
    font-size: larger;
    font-family: 'Raleway';
    color:white;
    outline:none;

  }

  .searching:focus{
    border-bottom: 1px solid rgb(42,60,133);;
  }


