body{
  margin: 0;
  background-color:  rgb(156,206,244);

}
.app {
  height: 100%;
  width: 100%;
  font-family: 'Raleway';
}

main{
  background-color: rgb(156,206,244);
  color: rgb(42,60,133);
  margin-top: 40px;
}
.title{
  margin: 0;
}
.firsttitle{
  font-size: x-large;
}
.titles{
  color: white;
  font-weight: 700;
  font-size: larger;
  margin-bottom: 5px;
}

.weather>img{
  height: 500px;
}
